<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Try Firebase Database</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <h1>hello</h1>
    <section id="auth">
      <h2>auth</h2>
      <section v-if="!isSignedIn">
        <h3>sign in</h3>
        <button v-on:click="signIn">Google</button>
        <button v-on:click="signInAnon">Anonymous</button>
      </section>
      <section v-else>
        <button v-on:click="signOut">sign out</button>
        <table>
          <tr v-for="prop in props">
            <th>{{ prop.key }}</th>
            <td>{{ user[prop.key] }}</td>
          </tr>
        </table>
      </section>
    </section>

    <section>
      <h2>user data</h2>
      <form id="form" v-on:submit.prevent="onSubmit">
        <input v-model="editingInfo.username"/> name
        <input v-model="editingInfo.email"/> email
        <input type="submit" />
      </form>
      <section id="info">
        <p>name {{info.username}}</p>
        <p>email {{info.email}}</p>
      </section>
    </section>

    <section>
      <h2>todos</h2>
      <section>
        <h3>new</h3>
        <form id="todos-new" v-on:submit.prevent="onSubmit">
          <input type="text" v-model="newTodoItem">
          <button type="submit">追加</button>
        </form>
      </section>
      <section id="todos-list">
        <h3>list</h3>
        <ul>
          <li v-for="item in items" v-bind:key="item.id" v-bind:id="item.id">
            <span>{{item.text}}</span>
            <button>done</button>
            <button>remove</button>
          </li>
        </ul>
      </section>

    </section>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-database.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#config-web-app -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="firebase-init.js"></script>
    <script src="app.js" type="module"></script>
  </body>
</html>